<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
            <br>
            <br>
            <br>
            <ul>
                <li>AGE: <%= @user.age %></li>
                <br>
                <br>
                <li>COUNTRY: <%= @user.country %></li>
                <br>
                <br>
                <li>
                    PROFILE
                    <div class="row" style="white-space:pre-wrap;"><%= @user.profile %></div>
                </li>
            </ul>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <!-- kaminari追加修正 -->
            <%= page_entries_info @microposts %>
            <!-- 修正終了 -->
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
        <% end %>
    </div>
</div>
<!-- 追加箇所開始 -->
<%= paginate @microposts %>
<!-- 追加箇所終了 -->
<br>
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <ul class="list-inline">
            <li><%= link_to "Following Users", followings_path %></li>
            <li><%= link_to "Followers"      , followers_path %></li>
            <li><%= link_to "Favorites"      , favorites_user_path, method: :get %></li>
        </ul>
    </div>
</div>